.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}
.my-top{
    
    height: 10vh;
    background-color: aqua;
    grid-column: 1/6 span;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.loginandcart{
    display: flex;
}
.login{
    margin-right: 1rem;    
}

.my-side{
    height: 70vh;
    background-color: firebrick;
}
.my-contents{
    height: 70vh;
    padding: 1rem;
    grid-column: 2/5 span;
    background-color: gold;
}
.my-foot{
    height: 20vh;
    background-color: hotpink;
    grid-column: 1/6 span;
}

@media (max-width : 991px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .my-top{
        grid-row: 1;
    }

    .my-side{
        height: 5vh;
        grid-row: 2;
    }

    .my-contents{
        height: 70vh;
        grid-row: 3;
        grid-column: 1;
    }

    .my-foot{
        height: 15vh;
        grid-row: 4;
    }
}
.my-slider{
    width: 100%;
}
img{
    width: 100%;
    height: 550px;
}
.slick-arrow slick-prev{
    z-index: 1;
}

.slick-prev:before, .slick-next:before{
    color: black;
}

.slick-prev{
    left: 10px;
}

.slick-next{
    right: 10px;
}